/* * {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
} */

header {
    background-color: peachpuff;
    color: black;
    text-align: left;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}


.utility-container {
    text-align: center;
    background-color: aquamarine;
}

.dice-container {
    /* get dice lined up horizontally */
    display: flex;
    /* contain the dice in the centre of the div */
    justify-content: center;
}

.dice {
    width: 80px;
    height: 80px;
    /* position: relative; */
    margin: 5px;
    border-radius: 10px;
}

.dice-number {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: white;
    font-size: 50px;
}

.btn-roll-dice {
    margin-top: 10px;
}

#btnSubmitDiceType {
    width: 10em;
}