:root {
  /* cyberpunk colour pallet */
  --colorBlue: #467fa1;
  --colorPurple: #54295c;
  --colorDarkBlue: #061f2b;
  --colorDarkPurple: #1e0f1d;
  --colorRed: #5e0b0b;
}

@media screen and (min-width: 1000px) {
  body {
    .leftPanel {
      /* restrict size of size panel from continuing to expand*/
      width: 300px;
    }
    .rightPanel {
      width: 500px;
    }
  }
}

p {
  margin-top: 0.05cm;
  margin-bottom: 0.05cm;
}

body {
  color: var(--colorDarkBlue);
  /* width: 21cm; */
  /* height: 29.7cm; */
  margin: 0 auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--colorBlue);
}

h3 {
  margin-top: 10px;
  color: var(--colorBlue);
}

ul,
li {
  list-style-type: none;
  padding-left: 10px;
}

table {
  border: #54295c solid;
  border-radius: 5%;
  border
}

.flexContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 30%;
  background-color: var(--colorDarkBlue);
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 1cm;
}

/* specify style of left panel */
.leftPanel {
  color: #bebebe;
  text-decoration: none;
}

.leftPanel h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.leftPanel h2 {
  color: white;
}

.leftPanel img {
  width: 100%;
  border-radius: 35%
}

.leftPanel {
  font-size: 0.38cm;
}

.leftPanel h3 {
  font-weight: 500;
}

.leftPanel p {
  font-weight: 100;
}